/*   test */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwner-text-color: #757575;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #ffffff;
  --icon-color: #afb1b8;

  --main-font: Roboto, sans-serif;

  /* --brand-color: #2196f3;
  --brand-secondary-color: #000000;
  --body-text-color: #757575;
  --headline-color: #212121;
  --background-color: #2f303a;
  --background-color-2nd: #f5f4fa;
  --white-color: #ffffff; */
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 1600px;
  height: 2349px;
  margin: 0;
  background-color: var(--background-color);
  /*ramka jeszcze chyba*/
}

/* gorna waska listwa z nawigacja  */

.top-bar {
  width: 1600px;
  height: 80px;
  color: var(--contener-color);
  display: flex;
  flex-direction: row;
  border: 1px solid var(--line-color);
}

.logotype {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--logo-color-text);
  text-decoration: none;
}

.piece-of-logotype {
  color: var(--acent-color);
  /* text-decoration: none; */
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--acent-color);
}

.flex-container-one {
  list-style-type: none;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--ouwner-text-color);
}

.contact-link:hover {
  text-decoration: none;
  color: var(--acent-color);
}

/*    centralne duze pole   */

.big-bar {
  width: 1600px;
  height: 600px;
  background: var(--background-footer-color);
  align-content: center;
}

.main-headline {
  margin: 0;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.button-cta {
  margin-left: 700px;
  margin-top: 350px;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  /* width: 200px;
  height: 50;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer; */
}

.card {
  width: 270px;
  height: 101px;
}

.card-title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  /* line-height: 1.1;
  letter-spacing: 0.03em; */
  text-transform: uppercase;
  color: var(--main-text-color);
}
.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--ouwner-text-color);
}

.container {
  width: 1170px;
  height: 386px;
  background-color: var(--acent-color);
}

.secondary-headline {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.work-position {
  /* .scope-of-work { */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--ouwner-text-color);
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.container-two {
  width: 1170px;
  height: 101px;
  background-color: var(--background-color);
}
.flex-container-two {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-three {
  width: 1170px;
  height: 386px;
  background-color: var(--background-color);
}

.flex-container-three {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.our-team-card {
  background: var(--background-color);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.container-four {
  width: 1600px;
  height: 648px;
  background: var(--buttons-port-color);
}

.flex-container-four {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
/* .container {
  list-style-type: none;
}
.justyfi-class {
  justify-items: center;
} */

/*    footer    */

.container-five {
  width: 1600px;
  height: 252px;
  background: var(--background-footer-color);
  color: var(--secondary-text-color);
}

.address-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;
}

.piece-of-logotype-footer {
  color: var(--secondary-text-color);
}
.contact-link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
}

.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--acent-color);
}

.addres-footer {
  list-style-type: none;
}

.nobull {
  list-style-type: none;
}

/*              PORTFOLIO           */

.container-portfolio {
  width: 1170px;
  height: 1360px;
  background: var(--background-color);
}

.portfolio-buton-one {
  width: 121px;
  height: 38px;
  background: var(--buttons-port-color);
  border: 0;
  border-radius: 4px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}

.portfolio-buton-two {
  width: 93px;
  height: 38px;
  background: var(--buttons-port-color);
  color: var(--main-text-color);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}

.portfolio-buton-three {
  width: 114px;
  height: 38px;
  background: var(--buttons-port-color);
  color: var(--main-text-color);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}

.portfolio-buton-four {
  width: 91px;
  height: 38px;
  background: var(--buttons-port-color);
  color: var(--main-text-color);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}

.portfolio-buton-five {
  width: 121px;
  height: 38px;
  background: var(--buttons-port-color);
  color: var(--main-text-color);
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
}

.portfolio-buton-one:hover,
.portfolio-buton-one:focus,
.portfolio-buton-two:hover,
.portfolio-buton-two:focus,
.portfolio-buton-three:hover,
.portfolio-buton-three:focus,
.portfolio-buton-four:hover,
.portfolio-buton-four:focus,
.portfolio-buton-five:hover,
.portfolio-buton-five:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
}
.flex-container-portfolio-one {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.flex-container-portfolio-two {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.portfolio-card-item {
  width: 370px;
  height: 404px;
  background: var(--background-color);
  border: 1px solid #eeeeee;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--main-text-color);
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--ouwner-text-color);
}
