/*   test */
:root {
  --brand-color: #2196f3;
  --brand-secondary-color: #000000;
  --body-text-color: #757575;
  --headline-color: #212121;
  --background-color: #2f303a;
  --background-color-2nd: #f5f4fa;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  width: 1600px;
  height: 2349px;
  margin: 0;
}

/* gorna waska listwa z nawigacja  */

.top-bar {
  width: 1600px;
  height: 80px;
  color: var(--white-color);
  display: flex;
  flex-direction: row;
}

.logotype {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-secondary-color);
  text-decoration: none;
}

.piece-of-logotype {
  color: var(--brand-color);
  /* text-decoration: none; */
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  text-decoration: none;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--brand-color);
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--body-text-color);
}

.contact-link:hover {
  text-decoration: none;
  color: var(--brand-color);
}

/*    centralne duze pole   */

.big-bar {
  width: 1600px;
  height: 600px;
  background: #2f303a;
  align-content: center;
}

.main-headline {
  margin: 0;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.button-cta {
  width: 600;
  height: 50px;
  font-weight: 700;
  margin-left: 700px;
  margin-top: 350px;
  text-align: center;
  font-size: 16px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* width: 200px;
  height: 50;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer; */
}

.card {
  width: 270px;
  height: 101px;
}

.card-title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  /* line-height: 1.1;
  letter-spacing: 0.03em; */
  text-transform: uppercase;
  color: var(--headline-color);
}
.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  width: 1170px;
  height: 386px;
  background-color: #2196f3;
}

.secondary-headline {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--headline-color);
}
.work-position {
  /* .scope-of-work { */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}

.nobull {
  list-style-type: none;
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.container-two {
  width: 1170px;
  height: 101px;
  background-color: chartreuse;
}
.flex-container-two {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-three {
  width: 1170px;
  height: 386px;
  background-color: darkslateblue;
}

.flex-container-three {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.container-four {
  width: 1600px;
  height: 648px;
  background-color: brown;
}

.flex-container-four {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.container {
  list-style-type: none;
}
.justyfi-class {
  justify-items: center;
}
